{% extends "template.html" %}
{% block content %}
    <form id="pokemonForm" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.ability.label(class="form-label") }}
            {{ form.ability(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.type_1.label(class="form-label") }}
            {{ form.type_1(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.type_2.label(class="form-label") }}
            {{ form.type_2(class="form-control") }}
        </div>
        <div class="mb-3">
            <div class="d-flex gap-5">
                <div>
                    <label class="form-label">HP</label>
                    {{ form.hp(class="form-control") }}
                </div>
                <div>
                    <label class="form-label">ATK</label>
                    {{ form.atk(class="form-control") }}
                </div>
                <div>
                    <label class="form-label">DEF</label>
                    {{ form.def_(class="form-control") }}
                </div>
                <div>
                    <label class="form-label">SPATK</label>
                    {{ form.spatk(class="form-control") }}
                </div>
                <div>
                    <label class="form-label">SPDEF</label>
                    {{ form.spdef(class="form-control") }}
                </div>
                <div>
                    <label class="form-label">SPD</label>
                    {{ form.spd(class="form-control") }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <figure class="img-thumbnail col-md-4 formularioImagem">
                <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='missingno.jpg') }}">
                <figcaption>
                    <label class="fileContainer">
                        Mudar Capa
                        <input type="file" name="image" accept="image/*">
                    </label>
                </figcaption>
            </figure>
        </div>
        <button type="submit" class="btn btn-primary w-100">Adicionar</button>
    </form>
{% endblock %}